@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

/* width of the scrollbar */
::-webkit-scrollbar {
  width : 10px;
}

/* track, the 'road' of the scrollbar */
::-webkit-scrollbar-track {
  background : #112240;
}

/* the scrolling element thing */
::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
  height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8892b0;
}